/* main body of the website*/
body{
    width:100%;
    height:100%;
    padding:0;
    margin:0;
    background-image: url("../images/nonono.png");
    text-align: center;
}

/* Main Center */
.main{
    width: 50%;
    height:50%;
    margin:25%;
    margin-top: 20%;
    text-align: center;
    font-size: 300%;
    color: #389244;
    background-color: #464646;
}

